---
---


<footer>
    <p>&copy; {new Date().getFullYear()} Mi Sitio Web. Todos los derechos reservados.</p>
</footer>

<style>
	footer {
	  text-align: center;
	  padding: 2rem;
	  margin-top: 2rem;
	  border-top: 1px solid #eee;
	}
</style>
